<footer
  class="flex flex-row justify-center bg-neutral-800 text-white p-2 row-span-1"
>
  <span>
    Maded by Daif using <a
      class="underline"
      href="https://cohere.com/"
      target="_blank"
    >
      Co:here</a
    >
  </span>
</footer>
